In [7]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import itertools
import seaborn as sns
%matplotlib inline

In [ ]:
query_url = "https://www.compare-school-performance.service.gov.uk/download-data"
"https://explore-education-statistics.service.gov.uk/data-catalogue/data-set/17e616ae-bc72-44de-9044-5d7406211a82"

In [8]:
value = pd.read_csv("https://explore-education-statistics.service.gov.uk/data-catalogue/data-set/17e616ae-bc72-44de-9044-5d7406211a82/csv")

In [9]:
value.columns

Index(['time_period', 'time_identifier', 'geographic_level', 'country_code',
       'country_name', 'version', 'old_la_code', 'new_la_code', 'la_name',
       'school_name', 'school_urn', 'school_laestab', 'sublevno',
       'qualification_type', 'asize', 'subject_code', 'subject_name',
       'value_added', 'lci', 'uci', 'number_of_entries'],
      dtype='object')

In [4]:
value.qualification_type.value_counts().reset_index().iloc[0]['qualification_type']

'GCE A level'

In [5]:
course_filter = value['qualification_type']=='GCE A level'
school_urn = [138313, 136298,138313,137353,100750,132942, 136309, 135073, 140939, 101162]
school_filter = value['school_urn'].isin(school_urn)
courses = ['Government and Politics','History','Mathematics','Sociology','English Literature','Economics']

In [6]:
course = courses[4]
course_filter = value['subject_name']==course
print(course)
value.loc[course_filter&school_filter&course_filter][['school_name','value_added','lci']]

English Literature

                               school_name value_added    lci
1688                    Prendergast School        0.65    0.3
2378                    Westminster School        0.16  -0.09
35164  Sydenham and Forest Hill Sixth Form       -0.19  -0.53
36609        Haberdashers' Hatcham College        0.03  -0.34
42094     The Charter School North Dulwich        0.44   0.17
42433          Kingsdale Foundation School        0.48   0.19
59526        The St Marylebone CofE School        0.16  -0.09
68531               The Grey Coat Hospital        0.34  -0.05
77450        Harris Westminster Sixth Form        0.07  -0.16